<!--APPLICATION FORM-->
  <div CLASS="container px-4 mt-5">
    <h2 class="text-center mb-4">Submit your Application</h2>

    <form  action="https://formbold.com/account/forms" method="POST"enctype="multipart/form-data" class="offset-lg-2 col-lg-8">

      <!--NAME-->
      <div class="mb-3 col-sm-6">
        <label for="fullname" class="form-label"> Full Name </label>
        <input type="text" class="form-control" name="name" required placeholder="John Doe" id="fullname" />
      </div>

      <!--EMAIL-->
      <div class="mb-3 col-sm-6">
        <label for="email" class="form-label"> Email address </label>
        <input type="email" class="form-control" name="email" placeholder="john@doe.com" id="email"
          aria-describedby="emailHelp" required />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>

      <!--PHONE-->
      <div class="mb-3 col-sm-6">
        <label for="phone" class="form-label">Phone</label>
        <input type="tel" class="form-control" id="phone" placeholder="+919898989898" name="phone" required />
      </div>

      <!--DOB-->
      <div class="mb-3 col-sm-6">
        <label for="dob" class="form-label">Date of Birth</label>
        <input type="date" class="form-control" id="dob" name="dob" required />
      </div>

       <!--POSITION-->
    <div class="mb-3 col-sm-6">
      <label for="position" class="form-label">Position Applied For</label>
      <select class="form-select" aria-label="Default select example">
        <option selected value="">Select a position</option>
        <option value="frontend developer">Frontend Developer</option>
        <option value="full stack developer">Full Stack Developer</option>
        <option value="data scientist">Data Scientist</option>
        <option value="ml engineer ">ML Engineer</option>
      </select>
    </div>

     <!--RESUME-->
     <div class="mb-3 col-sm-6">
      <label for="resume" class="form-label">Upload Resume</label>
      <input
        type="file"
        class="form-control"
        id="resume"
        name="resume"
        required
      />
    </div>

        <!--COVER LETTER-->
        <div class="mb-3">
          <label for="resume" class="form-label">Cover Letter</label>
          <textarea
            placeholder="Why should we consider you for the job?"
            class="form-control"
            id="resume"
            name="resume"
            rows="5"
            required
          ></textarea>
        </div>

         <!--TERMS-->
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="terms" />
      <label class="form-check-label" for="terms"
        >I agree to the terms and coditions.</label
      >
    </div>

    <!--SUBMIT BUTTON-->
    <button type="submit" class="btn btn-primary">
      Submit Application
    </button>

    </form>

  </div